[submodule "Odin"]
	path = Odin
	url = https://github.com/odin-lang/Odin
[submodule "source/handle-map"]
	path = source/handle-map
	url = https://github.com/karl-zylinski/odin-handle-map
[submodule "atlas-builder"]
	path = atlas-builder
	url = https://github.com/karl-zylinski/atlas-builder
[submodule "source/jobs"]
	path = source/jobs
	url = https://github.com/jakubtomsu/jobs
[submodule "fixed-timestep-demo"]
	path = fixed-timestep-demo
	url = https://github.com/jakubtomsu/fixed-timestep-demo
